body{
    background-color: none;
    margin: 0%;
    border: none;
    outline: 0;

}
.cabeçalho .DIV1 img{
    min-width: 200px;
    max-width: 800px;
    width: 12%;
    margin: 12px;
    display: block;
}
.cabeçalho .DIV1 h1{ 
    color: aliceblue;
    position: absolute;
    top: 19px;
    left: 15%;
    font-size: 18px;
    font-style: normal;
    font-weight:40;
    font-family:'Source Sans Pro';
    

}
.cabeçalho .DIV1 button{
    position: absolute;
    top: 6px;
    left: 80%;
    color: rgb(255, 255, 255);
    background-color: #ff8c00;
    border-color: white;
    border: 1px solid white;
    height: 9%;
    width: 17%;
    font-size: small;
    text-align: center;
    text-shadow: 1px rgb(255, 255, 255);
    border-radius: 2px;
    
    
}
.DIV1{
    background-color: rgb(9, 79, 113);
    width: 100%;
    display: flex;
    padding: 6px;
   
    
    
}
    

.container {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    left: 15%;
    top: 20%;
   



}
.container > div> h1{
  margin-top: -5px;
  font-size: 50px;
  font-family:'Source Sans Pro' ;
  color: rgb(9, 79, 113);
  font-weight: 600;
  font-size: 55px;
  
 
}

.container > div> h2{
    font-size: 24px;
    font-family: 'Source Sans Pro' ;
    font-weight: 300;
    font-style: normal;
    color: rgb(106, 149, 170);
    margin-top: -5%;
   
}
.container > div > h3{
    font-size: 16px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    color: rgb(106, 149, 170);
 
}
 .container > div > h4{
    font-size: 16px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    color: rgb(106, 149, 170);
   
 }
.artic .figure{
    padding-top: -50px;
   
 }

.front img{
    display: flex;
    height: 62%;
    margin-right:30% ;
    float: right;
    position: absolute;
    padding-left:61% ;
    padding-top: 26px;
   
    
    
    
}
.back img{
    display: flex;
    float: inline-start;
    margin-top: -15px;
    margin-left: -50px;
    width:68%;
    height:482px;
    


}
.DIV2{
    background-color:rgb(60, 96, 255);
    width: 100%;
    height: 250px;
    text-align: center;
    margin-top: -20px ;
  
}
.DIV2 h1{
    color: aliceblue;
    font-family: 'Source Sans Pro';
    padding-top: 50px;
    font-weight: 300;
    
    
}
.DIV2 button{
    color: rgb(8, 80, 139);
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 29px;
    border: 1px solid white;
    height: 30%;
    width: 300px;
    

}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .DIV2 h2{
    font-size: 16px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    color: #f4f9fc;
   

  }
.DIV3 h1{
    padding-top: 8%;
    font-size: 50px;
  font-family:'Source Sans Pro' ;
  color: rgb(9, 79, 113);
  font-weight: 600;
  font-size: 30px;
 
}
.DIV3 h2{
    font-size: 20px;
    font-family: 'Source Sans Pro';
    color: rgb(26, 85, 114);
    
} 
.buttons1{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
    justify-content: center;

}

 .buttons1 button{
    background-color:white; 
    border: 1px solid rgb(26, 85, 114);
    color: rgb(26, 85, 114);
    
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;

    transition-duration: 0.4s;
    cursor: pointer;
    height: 100px;
    width: calc(20% - 10px);
    box-sizing: border-box;
    margin: 5px;

    
    
}
.buttons1 div button:hover{
    background-color: #00000000;
    color: black;
}

.buttons1 .bt1:last-of-type{
    width: 40%;
    height: 60px;
} 
.sect {
    background-color:rgb(60, 96, 255);
    width: 100%;
    height: 300px;
    text-align: center;
    margin-top: 30px ;
    display: flex;
   
}
.sect div a{
    color: white;
    font-family: 'Source Sans Pro';
    text-align: left;
    width: 280px;
    margin: 20px 400px;
    box-sizing: border-box;
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: -12;
    text-decoration: none;
    list-style: none;
  
}

.sect div h1{
    font-size: 50px;
    text-align: left;
   
    box-sizing: border-box;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    padding-top: 1rem;
    display: block;
    text-decoration: none;

}
.sect div h2 {
    text-align: left;
    font-size: 25px;
    padding-right: 20%;

}

.sect div {
    width: 50%;
    text-align: center;
    margin-top: 50px;
} 

.footer{
    background-color: rgb(9, 79, 113);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    height: 120px;
    

    
}
.footer img{
    width: 150px;
    height: 50%;
    box-sizing: border-box;

}
.footer td{
    color: white;
    font-family: 'Source Sans Pro';
    font-size: small;
}

